# Explicitly state this is not a Next.js project
next-typescripts-required=false
save-exact=true
engine-strict=true
legacy-peer-deps=true
# Only include platform-specific packages in development
optional=true
platform-specific-dependencies-only-in-dev=true